@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Open+Sans:wght@500&display=swap');
.body {
    background: #2E2727;
}
.main {
    width: 100%;
    height: 100%;
}
.container {
    width: 80%;
    height: 100%;
    background: #2E2727;
    &_header {
        display: flex;
        align-items: center;
        background: #2E2727;
        width: 100%;
        height: 112px;
        &_logo {
            margin-right: 10%;
            width: 164px;
            height: 65px;
        }
        &_pages {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &_page {
                text-decoration: none;
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 42px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                
                color: #A0A0A0;
            }
            &_page-active {
                text-decoration: none;
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 42px;
                color: #FFFFFF;
                text-shadow: 0px 0px 10px #FFFFFF;
            }
            &_page {
                text-decoration: none;
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 42px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                
                color: #FFFFFF;
            }
            &_logo {
                width: 50px;
                height: 50px;
            }
            &_switch-lang {
                border-radius: 10px;
                background: #2E2727;
                border: none;
                &_link {
                    text-decoration: none;
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    color: #A0A0A0;
                    font-size: 20px;
                    line-height: 42px;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
            }
        }
    }
    &_products {
        margin-top: 5%;
        width: 100%;
        height: fit-content;
        &_product {
            display: flex;
            flex-direction: column;
            width: 261px;
            height: 342px;
            background: #524B4B;
            border-radius: 12px;
            &_img {
                width: 261px;
                height: 166px;
                
                background: url(./shoe-1.png);
            }
            &_title {
                width: 80%;
                margin-top: 8%;
                margin-left: 10%;
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                
                color: #FFFFFF;
            }
            &_price {
                width: 80%;
                margin-top: 8%;
                margin-left: 10%;
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                
                color: #C2FF92;
            }
            &_btn {
                width: 90%;
                height: 12%;
                margin-top: 11%;
                margin-left: 5%;
                border: none;
                background: #7DA0FC;
                border-radius: 6px;
            }
        }
    }
}