// Header //
@media (max-width: 830px) {
    .header_instagram-img {
      display: none;
    }
    .header_nav {
      display: none;
    }
    .change-language hr {
      display: none;
    }
    .change-language a {
      display: none;
    }
    .header .burger-menu {
      opacity: 1;
      display: block;
    }
    .hero-section h1 {
      font-size: 17px;
    }
    .hero-section p {
      width: 282px;
      font-size: 10px;
      text-align: center;
    }
    .hero-section{
      width: 123%;
    }
    
    .promo{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 10% 0;
      img{ 
        width: 125%;
      }
      &_list{
        margin-left: -20px;
      }
    }
    .promo_container h1 {
      margin-top: 550px;
      margin-left: 170px;
      font-size: 15px;
    }
    .logo-block{
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 90px;
      margin-left: 170px;
      margin-top: 550px;
    }
    .logo-block img{
      width: 20px;
    }
    .logoWhite{
      display: none;
    }
    .promo_list_item p {
      width: 250px;
      font-size: 10px;
      margin-left: 25px;
    }
    .imgAtlete {
      margin-right: 30px;
    }
    .UserBlock{
     margin-top: 900px;
    }
    .form{
      margin-top: 100px;
    }
    .block {
      width: 250px;
      height: 190px;
    }
    .title{
      margin: 10% 50px;
      width: 150px;
      font-size: 15px;
    }
    .Name{
      margin-top: -10px;
      font-size: 11px;
    }
    .text{
      width: 140px;
      font-size: 10px;
      margin-top: -10px;
      line-height: 140%;
    }
    .profile{
      width: 50px;
      height: 50px;
    }
    .itemBlock{
      column-gap: 15px;
    }
    .btnMore{
      width: 105px;
      height: 31px;
      font-size: 10px;
    }
    .Title2{
      font-size: 17px;
      margin: 0px 0px;
    }
    .form{
      gap: 40px;
    }
    .InputName{
      width: 250px;
      height: 45px;
      border-radius: 12px;
      font-size: 13px;
    }
    .InputEmail{
      width: 250px;
      height: 45px;
      border-radius: 12px;
      font-size: 13px;
    }
    .InputReview{
      width: 250px;
      height: 65px;
      border-radius: 13px;
      font-size: 13px;
    }
    .btnConfirm{
      width: 150px;
      height: 37px;
      font-size: 15px;
      column-gap: 15px;
    }
    .btnConfirm img {
      width: 25px;
    }
    .btn {
      width: 25px;
      height: 20px;
    }
    .arrow{
      width: 8px;
    }
    .designer{
      margin-top: 18px;
      font-size: 9px;
    }
    .hero-section_slider_block{
      min-width: 150px;
      height: 150px;
      width: 150px;
    }
    .hero-section_slider_block img {
      width: 100%;
      height: 100%;
    }
    .footer-logo{
      width: 40px;
      margin-top: 0px;
      margin-left: 10px;
    }
    .footer-menuP-link{
      margin-right: 20px;
      width: 450px;
    }
    .footer-menuP{
      font-size: 9px;
      margin-left: 5px;
    }
    .followUs{
      width: 100px;
      font-size: 9px;
      margin-left: 10px;
    }
    .followUs img{
      width: 10px;
    }
    footer{
      width: 320px;
    }
    .contactsH1{
      font-size: 15px;
    }
    .mailImg{
      margin-left: -30px;
      width: 20px;
    }
    .mailP{
      margin-left: -20px;
      font-size: 8px;
    }
    .gps{
      width: 100%;
    }
    .gpsImg{
      margin-left: 10px;
      width: 20px;
    }
    .gpsP{
      margin-left: -35px;
      font-size: 7px;
    }
    .phoneNumberImg{
      margin-left: -30px;
      width: 20px;
    }
    .phoneNumberP{
      margin-left: -35px;
      font-size: 7px;
    }
    .telegramImg{
      margin-left: 10px;
      width: 20px;
    }
    .telegramP{
      margin-left: -10px;
      font-size: 7px;
    }
    .paymentContainer{
      height: 50px;
      gap: 20px;
    }
    .VISAblock{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 30px;
    }
     .imgVisa{
      width: 60px;
    }
    .masterCardblock{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 30px;
    }
    .masterCardblock img{
      width: 60px;
    }
    .applePayblock{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 30px;
    }
    .applePayblock img{
      width: 60px;
    }
  }