@media (max-width: 830px) {
  .header_instagram-img {
    display: none;
  }
  .header_nav {
    display: none;
  }
  .change-language hr {
    display: none;
  }
  .change-language a {
    display: none;
  }
  .header .burger-menu {
    opacity: 1;
    display: block;
  }
}
@media (min-width: 3000px) {
  .header_nav_ul .list_element a {
    font-weight: 600;
    font-size: 34px;
  }
  .header_instagram-img {
    width: 88px;
    height: 88px;
  }
  .header .change-language a {
    font-size: 34px;
  }
}
@media (max-width: 600px) {
  .main .products-nav {
    padding: 0px 5px;
  }
  .main .products-nav_ul_element a {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .main .products-nav_ul_element a {
    font-size: 12px;
  }
  .main .products-nav_ul_element hr {
    height: 10px;
  }
}
@media (min-width: 2000px) {
  .main .products-nav {
    height: 120px;
  }
  .main .products-nav_ul_element a {
    font-size: 24px;
  }
  .main .search-block {
    height: 70px;
  }
  .main .search-block_input {
    font-size: 28px;
  }
  .main .search-block_decoration_img {
    width: 38px;
    height: 38px;
  }
}
@media (min-width: 3000px) {
  .main .products-nav {
    height: 150px;
  }
  .main .products-nav_ul_element a {
    font-size: 34px;
  }
  .main .search-block {
    height: 120px;
  }
  .main .search-block_input {
    font-size: 32px;
  }
  .main .search-block_decoration_img {
    width: 48px;
    height: 48px;
  }
}
@media (min-width: 3000px) {
  .main .products-nav {
    height: 200px;
  }
  .main .products-nav_ul_element a {
    font-size: 48px;
  }
}
@media (max-width: 1250px) {
  .main_content .content-block {
    width: 23%;
  }
}
@media (max-width: 1000px) {
  .main_content .content-block {
    width: 27%;
  }
}
@media (max-width: 850px) {
  .main_content .content-block {
    width: 40%;
  }
  .footer-logo {
    width: 40px;
    margin-top: 0px;
    margin-left: 10px;
  }
  .footer-menuP-link {
    margin-left: 15px;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  .footer-menuP {
    width: 44px;
    font-size: 10px;
  }
  .followUs {
    display: none;
  }
  footer {
    width: 320px;
  }
  .contactsH1 {
    font-size: 15px;
  }
  .mailImg {
    margin-left: -30px;
    width: 20px;
  }
  .mailP {
    margin-left: -20px;
    font-size: 8px;
  }
  .gps {
    width: 100%;
  }
  .gpsImg {
    margin-left: 10px;
    width: 20px;
  }
  .gpsP {
    width: 150px;
    margin-left: -20px;
    font-size: 7px;
  }
  .phoneNumberImg {
    margin-left: -30px;
    width: 20px;
  }
  .phoneNumberP {
    margin-left: -35px;
    font-size: 7px;
  }
  .telegramImg {
    margin-left: 10px;
    width: 20px;
  }
  .telegramP {
    margin-left: -10px;
    font-size: 7px;
  }
  .paymentContainer {
    height: 50px;
    gap: 20px;
  }
  .VISAblock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
  }
  .imgVisa {
    width: 60px;
  }
  .masterCardblock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
  }
  .masterCardblock img {
    width: 60px;
  }
  .applePayblock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
  }
  .applePayblock img {
    width: 60px;
  }
}
@media (max-width: 600px) {
  .main_content .content-block {
    width: 45%;
  }
}
@media (max-width: 510px) {
  .main_content {
    justify-content: center;
  }
  .main_content .content-block {
    width: 60%;
  }
}
@media (max-width: 400px) {
  .main_content {
    justify-content: center;
  }
  .main_content .content-block {
    width: 76.5%;
  }
}
@media (min-width: 2000px) {
  .main center .show-article {
    font-size: 32px;
  }
  .main_content .content-block {
    height: 382px;
  }
}
@media (min-width: 3000px) {
  .main center .show-article {
    font-size: 42px;
  }
  .main_content .content-block {
    height: 482px;
  }
  .main_content .content-block_text {
    font-weight: 500;
    font-size: 24px;
  }
  .main_content .content-block_button {
    font-weight: 500;
    font-size: 24px;
  }
}
@media (min-width: 3500px) {
  .main center .show-article {
    font-size: 52px;
  }
  .main_content .content-block {
    height: 582px;
  }
  .main_content .content-block_img {
    height: 250px;
  }
  .main_content .content-block_text {
    font-weight: 500;
    font-size: 28px;
  }
  .main_content .content-block_button {
    height: 70px;
    font-weight: 500;
    font-size: 28px;
  }
}
@media (min-width: 4000px) {
  .main_content .content-block {
    height: 782px;
  }
  .main_content .content-block_text {
    font-weight: 500;
    font-size: 32px;
  }
  .main_content .content-block_button {
    height: 100px;
    font-weight: 500;
    font-size: 32px;
  }
}
@media (max-width: 1300px) {
  .main .pagination {
    width: 60%;
  }
}
@media (max-width: 900px) {
  .main .pagination {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .main .pagination {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .main .pagination_element {
    width: 40px;
    height: 40px;
  }
  .main .pagination .pagination-numbers {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 400px) {
  .main .pagination_element {
    width: 30px;
    height: 30px;
  }
  .main .pagination .pagination-numbers {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 2000px) {
  .main .pagination_element {
    width: 60px;
    height: 60px;
  }
  .main .pagination-numbers {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 3000px) {
  .main .pagination_element {
    width: 70px;
    height: 70px;
  }
  .main .pagination .pagination-numbers {
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 3500px) {
  .main .pagination_element {
    width: 100px;
    height: 100px;
  }
  .main .pagination_element p {
    font-size: 30px;
  }
  .main .pagination_element img {
    width: 30px;
    height: 30px;
  }
  .main .pagination .pagination-numbers {
    width: 100px;
    height: 100px;
  }
  .main .pagination .pagination-numbers li {
    font-size: 30px;
  }
}/*# sourceMappingURL=media.css.map */